<a href="https://colab.research.google.com/github/jumbokh/ML-Class/blob/main/notebook/CodeShare_2021July15_1339.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import io, pandas as pd

datastring = """
Price || Signal || cummax
   99 ||      1 ||     99
  100 ||      1 ||    100
  101 ||      1 ||    101
  102 ||      1 ||    102
  100 ||      1 ||    102
   98 ||     -1 ||     98
   97 ||     -1 ||     98
   95 ||     -1 ||     98
   94 ||     -1 ||     98
   96 ||     -1 ||     98
   98 ||     -1 ||     98
   99 ||      1 ||     99
  100 ||      1 ||    100
   99 ||      1 ||    100
""".replace(" || ", "\t")[1:-1]
df = pd.read_csv(
    io.StringIO(datastring), sep="\t")

#   -----------   Main Code   -----------   #
df["group_id"] = (
    df["Signal"] != df["Signal"].shift()
).cumsum()
df["cummax"] = (
    df.groupby("group_id")["Price"].cummax())

df

    Price  Signal  cummax  group_id
0      99       1      99         1
1     100       1     100         1
2     101       1     101         1
3     102       1     102         1
4     100       1     102         1
5      98      -1      98         2
6      97      -1      98         2
7      95      -1      98         2
8      94      -1      98         2
9      96      -1      98         2
10     98      -1      98         2
11     99       1      99         3
12    100       1     100         3
13     99       1     100         3

In [2]:
df['group_id'] = (df['Signal'] != df['Signal'].shift()).cumsum()

In [3]:
df['cummax'] = df.groupby('group_id')['Price'].cummax()