<a href="https://colab.research.google.com/github/jumbokh/ML-Class/blob/main/notebooks/2_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 習題

1. 假設有一筆資料
data = {
    'size': ['S','M',np.nan,'XL','XL'],
    'color': ['red', 'blue', 'blue', 'black', np.nan],
    'price': [2100, np.nan, 4500, 7300, 3200],
    'quantity': [np.nan, 350, np.nan, 200, 10]
}
df = pd.DataFrame(data)
(1) 請用ColumnTransformer水平合併器，將數值和類別管道器結合起來。其中數值管道器要做遺漏值處理，用中位數median，再做MinMaxScaler轉換。類別管道器的遺漏值用眾數處理後，再做獨熱編碼。
(2) 請將獨熱編碼的欄位和數值型資料欄位取出，並整合到DataFrame裡

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
data = {
    'size': ['S','M',np.nan,'XL','XL'],
    'color': ['red', 'blue', 'blue', 'black', np.nan],
    'price': [2100, np.nan, 4500, 7300, 3200],
    'quantity': [np.nan, 350, np.nan, 200, 10]
}
df = pd.DataFrame(data)
print('原始資料')
display(df)
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

num_pl = make_pipeline(SimpleImputer(strategy='median'), MinMaxScaler())
cat_pl = make_pipeline(SimpleImputer(strategy='most_frequent'), OneHotEncoder())

data_pl = ColumnTransformer([
    ('num_pl', num_pl, ['price', 'quantity']),
    ('cat_pl', cat_pl, ['size','color'])
])
print('轉換後資料')
display(data_pl.fit_transform(df))

print('結合後資料')
cat_cols = data_pl.named_transformers_['cat_pl']\
.named_steps['onehotencoder'].get_feature_names(['size','color'])
display(
    pd.DataFrame(data_pl.fit_transform(df), columns=['price', 'quantity']+cat_cols.tolist()).round(2)
)

原始資料

  size  color   price  quantity
0    S    red  2100.0       NaN
1    M   blue     NaN     350.0
2  NaN   blue  4500.0       NaN
3   XL  black  7300.0     200.0
4   XL    NaN  3200.0      10.0

轉換後資料

array([[0.        , 0.55882353, 0.        , 1.        , 0.        ,
        0.        , 0.        , 1.        ],
       [0.33653846, 1.        , 1.        , 0.        , 0.        ,
        0.        , 1.        , 0.        ],
       [0.46153846, 0.55882353, 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        ],
       [1.        , 0.55882353, 0.        , 0.        , 1.        ,
        1.        , 0.        , 0.        ],
       [0.21153846, 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        ]])

結合後資料

   price  quantity  size_M  size_S  size_XL  color_black  color_blue  color_red
0   0.00      0.56     0.0     1.0      0.0          0.0         0.0        1.0
1   0.34      1.00     1.0     0.0      0.0          0.0         1.0        0.0
2   0.46      0.56     0.0     0.0      1.0          0.0         1.0        0.0
3   1.00      0.56     0.0     0.0      1.0          1.0         0.0        0.0
4   0.21      0.00     0.0     0.0      1.0          0.0         1.0        0.0