<a href="https://colab.research.google.com/github/jumbokh/ML-Class/blob/main/notebooks/ch5_1031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
num = int(input('Please input a number:'))
tt = num
if num < 50:
  num = math.sqrt(num)*10
print('%d, %5.2f'%(tt,num))

Please input a number:70

### Q. 輸入一個值, 如果小於50, 者將該數 開根號乘與10
###   否則該數加 10

In [ ]:
import math
num = int(input('Please input a number:'))
tt = num
if num < 50:
  num = math.sqrt(num)*10
else:
  num = num+10
print('%d, %d'%(tt,round(num)))
print('%d, %5.2f'%(tt,num))

Please input a number:45
45, 67
45, 67.08

#A: 90~100
#B: 80~89
#C: 70:79
#D: 60:69
#E: others

In [ ]:
num=int(input('your score:'))
grade=''
if num>=90:
  grade='A'
elif num>=80:
  grade='B'
elif num>=70:
  grade='C'
elif num>=60:
  grade='D'
else:
  grade='E'
print('Your score:%d, Got grade:%s'%(num,grade))

your score:85
Your score:85, Got grade:B

In [ ]:
a=566
b=1000
n=1000-566

In [ ]:
print(n)

434

In [ ]:
a1=int(n/100)
a2=n%100
print(a1,a2)

4 34

In [ ]:
a3=int(a2/10)
a4=a2%10
print(a3,a4)

3 4

In [ ]:
n1=int(input('You buy: '))
n2=int(input('You pay: '))

You buy: 434
You pay: 1000

In [ ]:
if n2>n1:
  print("找零:")
  pass
elif n2==n1:
  print('Welcome again!')
elif n2<n1:
  print('Not enough!')

In [ ]:
#E_5_4 功能: 猜數字遊戲
num=int(input('請輸入0-30的數值: '))
sex=input('請輸入性別: 1. 男  2. 女: ')
nmax=30   #設定最大值
nmin=0   #設定最小值
bingo=18  #答案
diff=0   #計算差額
if num==bingo:  #條件1
    if sex=='1':
        print('帥哥，你猜對了，真棒!')
    else:
        print('美女，妳猜對了，了不起')
elif (num < bingo) & (num>=nmin):  #條件2
    diff=abs(num-bingo)
    if diff<3:
        print('你猜的數字比較小，已經接近了')
    else:
        print('你猜的數字比較小，還差很多')
elif (num> bingo) & (num<=nmax):  #條件3
    diff=num-bingo
    if diff<3:
        print('你猜的數字比較大，已經接近了')
    else:
        print('你猜的數字比較大，還差很多')
else:  #條件4
    if num<0 or num>30:
        print('輸入超過數值範圍')

請輸入0-30的數值: 18
請輸入性別: 1. 男  2. 女: 1
帥哥，你猜對了，真棒!

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
sumi=0
n=10
for i in range(1,n+1):
  o = sumi
  sumi = sumi + i
  print('%2d + %2d = %2d'%(o,i,sumi))
print('total= %d'%sumi)

 0 +  1 =  1
 1 +  2 =  3
 3 +  3 =  6
 6 +  4 = 10
10 +  5 = 15
15 +  6 = 21
21 +  7 = 28
28 +  8 = 36
36 +  9 = 45
45 + 10 = 55
total= 55

In [ ]:
n=100
count=0
total=0
lis=[]
for i in range(1,n+1):
  if i%7 == 0:
    count = count+1
    total = total+i
    lis.append(i)
print('#%2d, 1~100'%count)
print('total=%3d'%total)
print(lis)

#14, 1~100
total=735
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [ ]:
n=100   #最大值
count=0  #累計個數
total=0  #累計值
lis=[]   #空白 list
qrlist=[] #空白 list
for i in range(1,n+1):   # 1~100
  (q,r) = divmod(i,7)   # (商,餘數) = i/7
  if r == 0:       # 如果餘數等於 0
    count = count+1   # 個數加1
    total = total+i   # 累計
    lis.append(i)     #新增一筆符合餘數為0的數字至 list
    qrlist.append((q,r)) #新增一筆符合餘數為0的商與餘數至 list
print('#%2d, 1~100'%count)  #輸出
print('total=%3d'%total)
print(lis)
print(qrlist)

#14, 1~100
total=735
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
[(1, 0), (2, 0), (3, 0), (4, 0), (5, 0), (6, 0), (7, 0), (8, 0), (9, 0), (10, 0), (11, 0), (12, 0), (13, 0), (14, 0)]

## Q. 輸入一數值, 計算如下公式:
### result = (1-1/2) + (1-1/3) + (1-1/4) + ... 
### + (1-1/n)

In [ ]:
n = int(input('Input a number:'))

Input a number:100

In [ ]:
result=0
for i in range(2,n+1):
  result = result + (1-1/i)
print('%8.2f'%result)

   94.81

## 產生一個 9X9 的二維陣列
## 陣列中元素的值為 0~9

In [ ]:
import random as rd

In [ ]:
n = rd.randint(0,9)
n

1

In [ ]:
m = 9
lis0=[]
for i in range(0,m):
  lis1=[]
  for j in range(0,m):
    x = rd.randint(0,9)
    lis1.append(x)
  lis0.append(lis1)
  print(lis1)

[4, 4, 4, 3, 5, 2, 2, 5, 5]
[5, 1, 2, 3, 6, 4, 5, 7, 1]
[9, 5, 7, 5, 9, 8, 4, 4, 2]
[1, 7, 4, 4, 7, 3, 3, 0, 6]
[7, 0, 8, 2, 8, 2, 8, 5, 2]
[3, 1, 3, 8, 7, 3, 2, 4, 7]
[2, 6, 1, 5, 9, 7, 1, 0, 3]
[7, 0, 0, 8, 9, 6, 4, 5, 4]
[1, 0, 6, 3, 8, 3, 2, 8, 1]

In [ ]:
# E_5_9 功能: 以雙迴圈(9列，9行)產生亂數(0到9)模擬二維陣列
from random import randint as ri
## 印表頭
print("i/j",end=" ")
for i in range(1,10):
  print("%3d"%i,end="")
print()
##
for i in range(1, 10):  #外圈
    print("%3d "%i,end="") # 印 index
    for j in range(1, 10):  #內圈
        num=ri(0,9)  
        print('%3d'%(num), end='')
    print()

i/j   1  2  3  4  5  6  7  8  9
  1   6  1  3  0  3  0  2  8  5
  2   8  1  0  1  1  6  6  7  3
  3   0  6  1  1  2  9  4  9  4
  4   0  9  4  8  0  7  9  0  8
  5   4  4  6  2  1  7  0  0  8
  6   3  5  1  4  0  8  8  6  7
  7   3  0  7  7  2  9  4  1  2
  8   4  9  4  3  6  7  2  2  8
  9   0  5  1  0  0  6  2  5  4

## 九九乘法表 1~9

In [ ]:
n = 9
m = 9
for i in range(1,n+1):
  for j in range(1,m+1):
    print("%2d *%2d =%3d"%(i,j,i*j),end=", ")
  print()

 1 * 1 =  1,  1 * 2 =  2,  1 * 3 =  3,  1 * 4 =  4,  1 * 5 =  5,  1 * 6 =  6,  1 * 7 =  7,  1 * 8 =  8,  1 * 9 =  9,
 2 * 1 =  2,  2 * 2 =  4,  2 * 3 =  6,  2 * 4 =  8,  2 * 5 = 10,  2 * 6 = 12,  2 * 7 = 14,  2 * 8 = 16,  2 * 9 = 18,
 3 * 1 =  3,  3 * 2 =  6,  3 * 3 =  9,  3 * 4 = 12,  3 * 5 = 15,  3 * 6 = 18,  3 * 7 = 21,  3 * 8 = 24,  3 * 9 = 27,
 4 * 1 =  4,  4 * 2 =  8,  4 * 3 = 12,  4 * 4 = 16,  4 * 5 = 20,  4 * 6 = 24,  4 * 7 = 28,  4 * 8 = 32,  4 * 9 = 36,
 5 * 1 =  5,  5 * 2 = 10,  5 * 3 = 15,  5 * 4 = 20,  5 * 5 = 25,  5 * 6 = 30,  5 * 7 = 35,  5 * 8 = 40,  5 * 9 = 45,
 6 * 1 =  6,  6 * 2 = 12,  6 * 3 = 18,  6 * 4 = 24,  6 * 5 = 30,  6 * 6 = 36,  6 * 7 = 42,  6 * 8 = 48,  6 * 9 = 54,
 7 * 1 =  7,  7 * 2 = 14,  7 * 3 = 21,  7 * 4 = 28,  7 * 5 = 35,  7 * 6 = 42,  7 * 7 = 49,  7 * 8 = 56,  7 * 9 = 63,
 8 * 1 =  8,  8 * 2 = 16,  8 * 3 = 24,  8 * 4 = 32,  8 * 5 = 40,  8 * 6 = 48,  8 * 7 = 56,  8 * 8 = 64,  8 * 9 = 72,
 9 * 1 =  9,  9 * 2 = 18,  9 * 3 = 27,  9 * 4 = 36,  9 * 5 = 45,  9 * 6 = 54,  9 * 7 = 63,  9 * 8 = 72,  9 * 9 = 81,

## 重複亂數產生 0~9 , 遇到 0 時停止
## 並印出累計次數

In [ ]:
from random import randint as ri
count=0
num=1
while num!=0:
  num = ri(0,9)
  if num!=0:
   print(num,end=", ")
   count = count + 1
   if count%10 == 0:
     print()

print('\nCount:%3d'%count)

3, 8, 8, 7, 6, 2, 4, 3, 4, 5,
1, 4, 7, 7, 8, 3, 9, 6, 3, 6,

Count: 20

In [ ]:
max=9
n = 1
m = 1

while True:
  if m > max:
    n = n + 1
    m = 1
    print()
    continue
  if n > max:
    break
  print("%2d *%2d =%3d"%(n,m,n*m),end=", ")
  m = m + 1

 1 * 1 =  1,  1 * 2 =  2,  1 * 3 =  3,  1 * 4 =  4,  1 * 5 =  5,  1 * 6 =  6,  1 * 7 =  7,  1 * 8 =  8,  1 * 9 =  9,
 2 * 1 =  2,  2 * 2 =  4,  2 * 3 =  6,  2 * 4 =  8,  2 * 5 = 10,  2 * 6 = 12,  2 * 7 = 14,  2 * 8 = 16,  2 * 9 = 18,
 3 * 1 =  3,  3 * 2 =  6,  3 * 3 =  9,  3 * 4 = 12,  3 * 5 = 15,  3 * 6 = 18,  3 * 7 = 21,  3 * 8 = 24,  3 * 9 = 27,
 4 * 1 =  4,  4 * 2 =  8,  4 * 3 = 12,  4 * 4 = 16,  4 * 5 = 20,  4 * 6 = 24,  4 * 7 = 28,  4 * 8 = 32,  4 * 9 = 36,
 5 * 1 =  5,  5 * 2 = 10,  5 * 3 = 15,  5 * 4 = 20,  5 * 5 = 25,  5 * 6 = 30,  5 * 7 = 35,  5 * 8 = 40,  5 * 9 = 45,
 6 * 1 =  6,  6 * 2 = 12,  6 * 3 = 18,  6 * 4 = 24,  6 * 5 = 30,  6 * 6 = 36,  6 * 7 = 42,  6 * 8 = 48,  6 * 9 = 54,
 7 * 1 =  7,  7 * 2 = 14,  7 * 3 = 21,  7 * 4 = 28,  7 * 5 = 35,  7 * 6 = 42,  7 * 7 = 49,  7 * 8 = 56,  7 * 9 = 63,
 8 * 1 =  8,  8 * 2 = 16,  8 * 3 = 24,  8 * 4 = 32,  8 * 5 = 40,  8 * 6 = 48,  8 * 7 = 56,  8 * 8 = 64,  8 * 9 = 72,
 9 * 1 =  9,  9 * 2 = 18,  9 * 3 = 27,  9 * 4 = 36,  9 * 5 = 45,  9 * 6 = 54,  9 * 7 = 63,  9 * 8 = 72,  9 * 9 = 81,