<a href="https://colab.research.google.com/github/jumbokh/ML-Class/blob/main/notebooks/python_notes_1121_sec5_datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reference. python notes, https://drive.google.com/file/d/1r1CjRmJEOpg_y7wlAs3RK3gEkGn1u3i8/view?usp=sharing

## Chapter 5: Date and Time , page 67
### Date & Time

In [1]:
import datetime
dt = datetime.datetime.strptime("2016-04-15T08:27:18-0500", "%Y-%m-%dT%H:%M:%S%z")

In [3]:
print(dt)

2016-04-15 08:27:18-05:00

In [4]:
import dateutil.parser
dt = dateutil.parser.parse("2016-04-15T08:27:18-0500")
print(dt)

2016-04-15 08:27:18-05:00

In [6]:
from dateutil.tz import tzoffset
dt = datetime.datetime(2016, 4, 15, 8, 27, 18, tzinfo=tzoffset(None, -18000))
print(dt)

2016-04-15 08:27:18-05:00

In [7]:
from datetime import datetime, timedelta, timezone
JST = timezone(timedelta(hours=+9))
dt = datetime(2015, 1, 1, 12, 0, 0, tzinfo=JST)
print(dt)
# 2015-01-01 12:00:00+09:00

2015-01-01 12:00:00+09:00

In [8]:
print(dt.tzname())
# UTC+09:00

UTC+09:00

In [11]:
dt = datetime(2015, 1, 1, 12, 0, 0, tzinfo=timezone(timedelta(hours=-8), 'ROC'))
print(dt.tzname())
# 'ROC'

ROC

### Zones with daylight savings time

In [12]:
from datetime import datetime
from dateutil import tz
local = tz.gettz() # Local time
PT = tz.gettz('US/Pacific') # Pacific time
dt_l = datetime(2015, 1, 1, 12, tzinfo=local) # I am in EST
dt_pst = datetime(2015, 1, 1, 12, tzinfo=PT)
dt_pdt = datetime(2015, 7, 1, 12, tzinfo=PT) # DST is handled automatically
print(dt_l)
# 2015-01-01 12:00:00-05:00
print(dt_pst)
# 2015-01-01 12:00:00-08:00
print(dt_pdt)
# 2015-07-01 12:00:00-07:00

2015-01-01 12:00:00+00:00
2015-01-01 12:00:00-08:00
2015-07-01 12:00:00-07:00

In [13]:
from datetime import datetime, timedelta
import pytz
PT = pytz.timezone('US/Pacific')
dt_pst = PT.localize(datetime(2015, 1, 1, 12))
dt_pdt = PT.localize(datetime(2015, 11, 1, 0, 30))
print(dt_pst)
# 2015-01-01 12:00:00-08:00
print(dt_pdt)
# 2015-11-01 00:30:00-07:00

2015-01-01 12:00:00-08:00
2015-11-01 00:30:00-07:00

In [14]:
dt_new = dt_pdt + timedelta(hours=3) # This should be 2:30 AM PST
print(dt_new)
# 2015-11-01 03:30:00-07:00
dt_corrected = PT.normalize(dt_new)
print(dt_corrected)
# 2015-11-01 02:30:00-08:00

2015-11-01 03:30:00-07:00
2015-11-01 02:30:00-08:00

## Section 5.3: Computing time differences

In [15]:
from datetime import datetime, timedelta
now = datetime.now()
then = datetime(2016, 5, 23)     # datetime.datetime(2016, 05, 23, 0, 0, 0)

In [16]:
delta = now-then

#### delta is of type timedelta

In [17]:
print(delta.days)
# 60
print(delta.seconds)
# 40826

2008
4657

#### To get n day's after and n day's before date 
#### we could use:
####   n day's after date:

In [21]:
from datetime import datetime, timedelta

In [25]:
def get_n_days_after_date(date_format="%d %B %Y", add_days=120):
    date_n_days_after = datetime.now() + timedelta(days=add_days)
    return date_n_days_after.strftime(date_format)

In [26]:
 def get_n_days_before_date(self, date_format="%d %B %Y", days_before=120):
        date_n_days_ago = datetime.now() - timedelta(days=days_before)
        return date_n_days_ago.strftime(date_format)

In [28]:
print(get_n_days_after_date(add_days=60))

20 January 2022

In [30]:
print(get_n_days_before_date(datetime.now(),days_before=60))

22 September 2021

### Section 5.4: Basic datetime objects usage

In [32]:
import datetime
# Date object
today = datetime.date.today()
new_year = datetime.date(2017, 1, 1) #datetime.date(2017, 1, 1)
# Time object
noon = datetime.time(12, 0, 0) #datetime.time(12, 0)
# Current datetime
now = datetime.datetime.now()
# Datetime object
millenium_turn = datetime.datetime(2000, 1, 1, 0, 0, 0) #datetime.datetime(2000, 1, 1, 0, 0)

In [35]:
# subtraction of noon from today
'''noon-today

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.date'
However, it is straightforward to convert between types.
'''
# Do this instead
print('Time since the millenium at midnight: ',
      datetime.datetime(today.year, today.month, today.day) - millenium_turn)
# Or this
print('Time since the millenium at noon: ',
      datetime.datetime.combine(today, noon) - millenium_turn)

Time since the millenium at midnight:  7995 days, 0:00:00
Time since the millenium at noon:  7995 days, 12:00:00

## Section 5.6: Simple date arithmetic

In [36]:
import datetime
today = datetime.date.today()
print('Today:', today)
yesterday = today - datetime.timedelta(days=1)
print('Yesterday:', yesterday)
tomorrow = today + datetime.timedelta(days=1)
print('Tomorrow:', tomorrow)
print('Time between tomorrow and yesterday:', tomorrow - yesterday)

Today: 2021-11-21
Yesterday: 2021-11-20
Tomorrow: 2021-11-22
Time between tomorrow and yesterday: 2 days, 0:00:00

#### Section 5.7: Converting timestamp to datetime

#### The datetime module can convert a POSIX timestamp to a ITC datetime object.
The Epoch is January 1st, 1970 midnight.

In [38]:
import time
from datetime import datetime
seconds_since_epoch=time.time()  #1469182681.709
utc_date=datetime.utcfromtimestamp(seconds_since_epoch) 
#datetime.datetime(2016, 7, 22, 10, 18, 1, 709000)

In [39]:
print(utc_date)

2021-11-21 01:35:25.124203

### Section 5.8: Subtracting months from a date accurately

In [40]:
# Using the calendar module
import calendar
from datetime import date
def monthdelta(date, delta):
    m, y = (date.month+delta) % 12, date.year + ((date.month)+delta-1) // 12
    if not m: m = 12
    d = min(date.day, calendar.monthrange(y, m)[1])
    return date.replace(day=d,month=m, year=y)
next_month = monthdelta(date.today(), 1) #datetime.date(2016, 10, 23)

In [41]:
# Using the dateutils module
import datetime
import dateutil.relativedelta
d = datetime.datetime.strptime("2013-03-31", "%Y-%m-%d")
d2 = d - dateutil.relativedelta.relativedelta(months=1)  
#datetime.datetime(2013, 2, 28, 0, 0)

In [42]:
print(next_month)
print(d2)

2021-12-21
2013-02-28 00:00:00

### Section 5.13: Iterate over dates

In [43]:
import datetime
# The size of each step in days
day_delta = datetime.timedelta(days=1)
start_date = datetime.date.today()
end_date = start_date + 7*day_delta
for i in range((end_date - start_date).days):
    print(start_date + i*day_delta)

2021-11-21
2021-11-22
2021-11-23
2021-11-24
2021-11-25
2021-11-26
2021-11-27

## Chapter 6: Date Formatting
### Section 6.1: Time between two date-times

In [45]:
from datetime import datetime
a = datetime(2016,10,6,0,0,0)
b = datetime(2016,10,1,23,59,59)
a-b
# datetime.timedelta(4, 1)
(a-b).days
# 4
(a-b).total_seconds()
# 518399.0

345601.0

### Section 6.2: Outputting datetime object to string

In [46]:
# Uses C standard format codes.
from datetime import datetime
datetime_for_string = datetime(2016,10,1,0,0)
datetime_string_format = '%b %d %Y, %H:%M:%S'
datetime.strftime(datetime_for_string,datetime_string_format)
# Oct 01 2016, 00:00:00

'Oct 01 2016, 00:00:00'

### Section 6.3: Parsing string to datetime object

In [47]:
# Uses C standard format codes.
from datetime import datetime
datetime_string = 'Oct 1 2016, 00:00:00'
datetime_string_format = '%b %d %Y, %H:%M:%S'
datetime.strptime(datetime_string, datetime_string_format)
# datetime.datetime(2016, 10, 1, 0, 0)

datetime.datetime(2016, 10, 1, 0, 0)