<a href="https://colab.research.google.com/github/jumbokh/ML-Class/blob/main/notebooks/using_pipe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [Kaggle網站的電子商務運輸資料集(Train.csv)](https://www.kaggle.com/prachi13/customer-analytics)
### [有效利用Pandas套件的pipe方法 打造資料處理流程管道](https://www.learncodewithmike.com/2021/06/pandas-pipe-method.html)

In [2]:
import pandas as pd

### 自訂函式(Function)，篩選商品重要性(Product_importance)欄位

In [3]:
def filt_product_importance(dataframe, level):
    filt = (dataframe['Product_importance'] == level)
    return dataframe.loc[filt]

### 群組運輸方式(Mode_of_Shipment)欄位
### ，並且計算客戶評價(Customer_rating)欄位的平均值

In [4]:
def shipment_rating(dataframe):
    dataframe = dataframe.groupby('Mode_of_Shipment')['Customer_rating'].mean()
    return dataframe

In [5]:
df = pd.read_csv('Train.csv')
print(df)

          ID Warehouse_block  ... Weight_in_gms  Reached.on.Time_Y.N
0          1               D  ...          1233                    1
1          2               F  ...          3088                    1
2          3               A  ...          3374                    1
3          4               B  ...          1177                    1
4          5               C  ...          2484                    1
...      ...             ...  ...           ...                  ...
10994  10995               A  ...          1538                    1
10995  10996               B  ...          1247                    0
10996  10997               C  ...          1155                    0
10997  10998               F  ...          1210                    0
10998  10999               D  ...          1639                    0

[10999 rows x 12 columns]

In [6]:
pipeline = df.pipe(filt_product_importance, 'high').pipe(shipment_rating)
print(pipeline)

Mode_of_Shipment
Flight    3.024540
Road      3.044304
Ship      2.972887
Name: Customer_rating, dtype: float64

In [7]:
print(df.columns)

Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [10]:
print(df[:5])

   ID Warehouse_block  ... Weight_in_gms  Reached.on.Time_Y.N
0   1               D  ...          1233                    1
1   2               F  ...          3088                    1
2   3               A  ...          3374                    1
3   4               B  ...          1177                    1
4   5               C  ...          2484                    1

[5 rows x 12 columns]

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df[:5])

   ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0   1               D           Flight                    4                2
1   2               F           Flight                    4                5
2   3               A           Flight                    2                2
3   4               B           Flight                    3                3
4   5               C           Flight                    2                2

   Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                  177                3                low      F
1                  216                2                low      M
2                  183                4                low      M
3                  176                4             medium      M
4                  184                3             medium      F

   Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                44           1233                    1
1                59           3088                    1
2                48           3374                    1
3                10           1177                    1
4                46           2484                    1